@media screen and (max-width: 1550px){
    #btn-cat-12 {
        overflow: hidden;
    }
    #btn-cat-11 {
        overflow: hidden;
    }
    #btn-cat-10 {
        overflow: hidden;
    }
    #btn-cat-9 {
        overflow: hidden;
    }
    #btn-cat-8 {
        overflow: hidden;
    }
    #btn-cat-7 {
        overflow: hidden;
    }
    #btn-cat-6 {
        overflow: hidden;
    }
    #btn-cat-5 {
        overflow: hidden;
    }

}